body {
  background-color: #2F3242;
  
} 


.message {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.message-box {
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;

  &__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }

  &__title {
    font-size: 3.75rem;
    line-height: 46px;
    margin-bottom: 40px;
  }

  &__wrap {
    margin-top: 40px;
    border: none;
    background-color: transparent;
  }

  &__link {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 0.875rem;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;

    
    &:hover {
      background: #5A5C6C;
      color: #fff;
    }
  }
}

#Polygon1 , #Polygon2 , #Polygon3 , #Polygon4 , #Polygon4, #Polygon5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon2 {
  animation-delay: .2s; 
}
#Polygon3 {
  animation-delay: .4s; 
}
#Polygon4 {
  animation-delay: .6s; 
}
#Polygon5 {
  animation-delay: .8s; 
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  
}